.home {
    text-align: center;
}

.home__header {
    max-width: 100%;
    min-height: 300px;
}

.home__contents {
    text-align: left;
}

.home__contents--title {
    font-weight: 800;
    font-size: 40px;
    margin-top: 24px;
}

.home__contents--text {
    font-weight: 400;
    font-size: 15px;
    color: #5E607A;
    line-height: 26px;
    margin-top: 16px;
}

.home__contents--btn {
    width: 185px;
    height: 48px;
    outline: none;
    border: none;
    background-color: #F15D51;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #FFFDFA;
    letter-spacing: 4.38px;
    margin-top: 24px;
}

.home__contents--btn:hover {
    cursor: pointer;
    background-color: #00001A;
    transition: ease-in, 0.3s;
}

@media(min-width: 1440px) {
    .home {
        grid-area: home;
        min-width: 730px;
        margin-right: 30px;
    }

    .home__contents {
        margin-top: 28px;
        display: grid;
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: 0.6fr, 0.4fr;
        grid-template-areas:
            "title txt"
            "title btn";
    }

    .home__contents--title {
        grid-area: title;
        margin-top: 0;
        margin-right: 30px;
    }

    .home__contents--text {
        grid-area: txt;
        margin: 0;
    }

    .home__contents--btn {
        grid-area: btn;
    }
}